# ノードモジュールとビルドディレクトリを無視
node_modules/
dist/
build/

# ログファイルとデータベースファイルを無視
*.log
*.sql
*.sqlite

# OS 生成ファイルを無視
.DS_Store
Thumbs.db

# テキストエディターやIDEの設定ファイルを無視
.vscode/
.idea/
*.sublime-workspace

# 特定のファイルを除外して無視
!README.md

